@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap');

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #283048;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */        
    display: grid;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100vh;
}


@media (min-device-width:1200px){
    .UI{
        box-sizing: border-box;
        width: 100%;
        height: auto;
        display: grid;
    }


    .UI > #user >.form-group{
        width: 20%;
        padding: 0;
    } 
    
    .UI > #user > .form-group > .form-control{
        width: 300px;
    }

    .UI > #user > article:first-of-type{
        display: flex;
        justify-content: space-between;
    }

    .UI > #user > article:first-of-type > .menu{
        align-self: start;
    }





}

@media (max-device-width:1024px){
    .UI{
        display: none;
    }
}

.UI > article >.form-group > hr{
    background-color: whitesmoke
}

footer{
    height: 10vh;
    align-self: end;
    font-size: 12px;
}

.loguj{
    transition: opacity 2s linear;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.logujActive{
    opacity: 1;
    height: auto;
}

.loguj > .form-group > .form-control{
    margin-top: 5px;
    margin-bottom: 5px;
}

.nav-item{
    font-size: 1.5rem;
}
